NODE_ENV=development

# Telegram API
TG_BOT_TOKEN=0000000000:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
TG_BOT_USERNAME=YourBotUsername

# Bot Configs
WEB_APP_URL=https://your-web-app-url.com
API_URL=http://localhost:9000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=username
DB_PASSWORD=password
DB_NAME=database_name

# Backend 
BACKEND_PORT=9000

# Translation API (LibreTranslate)
TRANSLATION_HOST=127.0.0.1
TRANSLATION_PORT=5000

DICTIONARY_API_URL=https://api.dictionaryapi.dev/api/v2

# Web Vite
VITE_API_URL=http://localhost:9000
VITE_DEV_INIT_DATA=tg_init_data_placeholder_only_for_dev